body{
  background-image: linear-gradient(rgb(212 230 241),#9d9595);
}

header{
    text-align: center;
    padding:10px;
    /* background-color: #007bff; */
    color: #fff;
    background-image: linear-gradient(rgb(84 84 229),#9cddef);

}
#quote {
  display: inline-block;
  padding-top: 38px;
  position: absolute;
  left: 12px;
  top: 22px;
  color: black;
  font-size: 15px;
}
nav{
    background-color: #f0f0f0;
    padding:10px;
    text-align: center;
}

nav a {
    color: #333;
    text-decoration: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    transition-property: background-color;
    transition-duration: 1.5s;
  }
  nav a:hover {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  .right{
    position:absolute;
    right: 34px;
    top: 106px;
  }
  #BOTTON {
    border-radius: 5px;
    padding: 5px 15px;
    margin: 5px;
    text-decoration: none;
    border-color: #787f7f;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 1.5s;
}
#BOTTON:hover{
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}
.learn{
    width: 600px;
    display: block;
    float: right;
    margin-top: 50px;
    margin-right: 30px;
}
h3{
    display: inline-block;
    margin-top: 100px;
    margin-left: 60px;
    font-style: italic;
    font-size: 40px;
}
#excuses{
    display: inline-block;
    font-size: 20px;
    margin-left: 220px;
    margin-top: 0px;
}

.videoWrapper{
    margin-top:220px;
    margin-left: 50px;
    display: flex;
    gap: 60px;
}
.introduction{
    width:350px;
    height:200px;
}
.videosWrapper{
    margin-top:140px;
    margin-left: -10px;
    display: flex;
    gap: 60px;
}
.computer{
    width:350px;
    height:200px;
}
.VideoWrapper{
    margin-top:140px;
    margin-left: -10px;
    display: flex;
    gap: 60px;
}
.privacy{
    width:350px;
    height:200px;
}
p{
    font-size: 17px;
}
.foot{
  margin: 100px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 6px 4px;
  background-color: #666e6a;
}
.foot:hover{
  cursor: pointer;
  text-decoration: none;
  color: black;
  background-color: #93a3b3;
}

#privacy{
  border: 2px solid #978686;
  margin-left:80px;
  padding-left:5px;
  padding-right:5px;
  padding-top:6px;
  padding-bottom:6px;
  border-radius:10px;
  background-image: linear-gradient(#485587,#a59b9b);
}
#help{
  border: 2px solid #978686;
  margin-left:80px;
  padding-left:35px;
  padding-right:35px;
  padding-top:6px;
  padding-bottom:6px;
  border-radius:10px;
  background-image: linear-gradient(#485587,#a59b9b);
}

